@import "tailwindcss";

@theme {
  --color-brand-50: #FFF5FC;
  --color-brand-100: #FFE5F6;
  --color-brand-200: #FFCEF2;
  --color-brand-300: #E8C4ED;
  --color-brand-400: #D9A6E4;
  --color-brand-500: #9B5CB0;
  --color-brand-600: #4B56A2;
  --color-brand-700: #3F4891;
  --color-brand-800: #333B7A;
  --color-brand-900: #272D63;
  --color-brand-950: #1C2048;
}
